<div class="container">
  <form (ngSubmit)="submit()" [formGroup]="courseForm">
    <label>
      Titel des Kurses:
      <input formControlName="title"
             required
             type="text"/>
    </label>
    <br/>
    <label>
      Beschreibung des Kurses:
      <input formControlName="description"
             required
             type="text"/>
    </label>
    <br/>
    <label>
      Url zu einem Bild für den Kurses:
      <input formControlName="thumbnailUrl"
             required
             type="text"
      />
    </label>
    <br/>
    <img class="img-fluid"
      *ngIf="course && course.thumbnailUrl && !hasImageError" (error)="setError($event)"
         [src]="course.thumbnailUrl"/>
    <br/>
    <button class="btn btn-primary"
            [disabled]="!courseForm.valid"
            type="submit">{{buttonText}}
    </button>
  </form>
</div>
