<h2>Markdown nutzen, um einen Kurs zu erstellen</h2>
<br/>
<label>Kurs Titel:
  <input [value]="course?.title"/>
</label>
<br/>
<label>Kurs Beschreibung:
  <input [value]="course?.description"/>
</label>
<br/>
<label>Kursteil Titel
  <input [(ngModel)]="currentCourseSectionTitle"/>
</label>
<br/>
<md-editor name="Content"
           [(ngModel)]="currentCourseSectionMarkDown"
           [height]="'500px'"
           required>
</md-editor>

<button (click)="addCourseSection()">Kurselement hinzufügen</button>

<br/>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Kurselement</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let courseSection of course?.courseSections">
    <td>
      {{courseSection.sectionTitle}}
    </td>
    <td>
      <a [routerLink]="" (click)="deleteCourseSection(courseSection)">löschen</a>
    </td>
    <td>
      <a [routerLink]="['/edit-course-section', courseSection.id]">editieren</a>
    </td>
  </tr>
  </tbody>
</table>
