<div class="container">
  <div class="row">

    <div class="col">
      <button class="btn btn-dark"
              (click)="showEditCourseForm()">Kursdaten bearbeiten
      </button>
    </div>

    <div class="col">
      <a [routerLink]="['/created-courses-overview']"
         class="btn btn-secondary">Kurs bearbeiten schliessen</a>
    </div>
  </div>
</div>

<div *ngIf="shouldShowEditCourseForm">
  <app-course-form
    [buttonText]="'Kursdaten aktualisieren'"
    [course]="course"
    (submitEvent)="update($event)">
  </app-course-form>
</div>

<app-course-section-overview-table
  [courseSections]="courseSections"
  (deleteCourseSectionEvent)="deleteCourseSection($event)">
</app-course-section-overview-table>

<br/>
<app-course-section
  [isAddButton]="true"
  (courseSectionEvent)="addCourseSection($event)">
</app-course-section>


