<button (click)="showEditCourseForm()">zeigen/verstecken</button>
<div *ngIf="shouldShowEditCourseForm">
  <app-course-form
    [course]="course"
    (submitEvent)="update($event)">
  </app-course-form>
</div>

<app-course-section
  [isAddButton]="true"
  (courseSectionEvent)="addCourseSection($event)">
</app-course-section>

<br/>
<app-course-section-overview-table
  [courseSections]="courseSections"
  (deleteCourseSectionEvent)="deleteCourseSection($event)">
</app-course-section-overview-table>
<a [routerLink]="['/created-courses-overview']"
   class="fa fa-trash btn btn-primary btn-lg">Kurs bearbeiten schliessen</a>

