<span *ngIf="error">{{error}}</span>
<h1>Ihre Kurse</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Titel</th>
    <th scope="col">Kurzbeschreibung</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of courses">
    <td>
      {{course.title}}
    </td>
    <td>
      {{course.description}}
    </td>
    <td>
      <a
        (click)="deleteCourse(course.id)"
        [routerLink]=""
        class="fa fa-trash btn btn-primary btn-lg"></a>
    </td>
    <td>
      <a
        [routerLink]="['/edit-course', course.id]"
         class="fa fa-edit btn btn-primary btn-lg"></a>
    </td>
  </tr>
  </tbody>
</table>
