<div [formGroup]="userIdentifiers">
  <div>
    <mat-form-field>
      <input
        matInput
        type="text"
        id="name-field"
        name="name-field"
        formControlName="nameField"
        placeholder="Ihr Name"/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input
        matInput
        type="text"
        id="email-field"
        name="email-field"
        formControlName="emailField"
        placeholder="Ihre E-Mail-Addresse"
      />
      <div *ngIf="emailField.touched && hasEmailFieldErrors">
        <mat-error class="mat-error" *ngIf="emailFieldErrors['required']">
          Sie müssen eine Email-Adresse angeben.
        </mat-error>
      </div>
      <div *ngIf="hasEmailFieldErrors">
        <mat-error class="mat-error" *ngIf="emailFieldErrors['pattern']">
          Die Email-Adresse ist ungültig.
        </mat-error>
      </div>
    </mat-form-field>
  </div>

</div>

