<div [formGroup]="userIdentifiers">
  <div>
    <label for="name-field">Ihr Name: </label>
    <input
      class="mdl-textfield__input"
      type="text"
      id="name-field"
      name="name-field"
      formControlName="nameField"
    />
  </div>

  <div>
    <label for="email-field">Ihre E-Mail-Addresse: </label>
    <input
      class="mdl-textfield__input"
      type="text"
      id="email-field"
      name="email-field"
      formControlName="emailField"
    />
  </div>

  <div *ngIf="emailField.touched && hasEmailFieldErrors">
    <span *ngIf="emailFieldErrors['required']" class="mat-error">
      Sie müssen eine Email-Adresse angeben.
    </span>
  </div>

  <div *ngIf="hasEmailFieldErrors">
    <span *ngIf="emailFieldErrors['pattern']" class="mat-error">
      Die Email-Adresse ist ungültig.
    </span>
  </div>

</div>

