<div>
  <form
    [formGroup]="questionForm"
    (ngSubmit)="submitQuestion()">

    <user-identifiers [userIdentifiers]="userIdentifiers"></user-identifiers>
    <question-data [questionData]="questionData"></question-data>

    <div>
      <button
        mat-button
        id="submit-question-button"
        type="submit"
        [disabled]="!questionForm.valid">
        senden
      </button>
    </div>
  </form>

  <div *ngIf="questions">
    <div *ngFor="let question of questions">
      <span>{{question.userIdentifiers.name}} hat eine Frage bezüglich: "{{question.questionData.title}}"</span>
    </div>
  </div>
</div>
