<div class="card">
  <img alt="{{preview.title}}" class="card-img-top" src="assets/images/course_pic.PNG">
  <div class="card-body">
    <h5 class="card-title">{{preview.title}}</h5>
    <p class="card-text">{{preview.description}}</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      <app-star-rating [courseRating]="preview.rating" [maxRating]="maxRating"></app-star-rating>
    </small>
  </div>
</div>
<!--<md-editor name="Content"-->
<!--[options]="options"-->
<!--[ngModel]="courseSection"-->
<!--mode="preview"></md-editor>-->
