<span *ngIf="error">{{error}}</span>

<div *ngIf="course">
  <h1>{{course.title}} <a class="fa fa-file-pdf-o" href="" [target]="'_blank'" (click)="downloadPdf()"></a></h1>
  <h2>{{course.description}}</h2>
  <p>
    <button type="button" class="btn btn-primary">Kurs zu meinen Kursen hinzufügen</button>
  </p>
  <p>
    <a type="button" class="btn btn-secondary" [routerLink]="['/course/'+ course.id+'/overview']">Kursteileübersicht ansehen</a>
  </p>
  <p>
    <a type="button" class="btn btn-secondary" [routerLink]="['/course/'+course.id+'/sections']">Kurs starten</a>
  </p>
</div>
