<div [formGroup]="questionData">
  <div>
    <mat-form-field floatLabel="never">
      <label for="question-topics-field">Themen ihrer Frage:</label>
      <input
        matInput
        class="mat-form-field"
        type="text"
        id="question-topics-field"
        name="question-topics-field"
        formControlName="topicsField"
      />
      <mat-placeholder class="placeholder">Themen ihrer Frage</mat-placeholder>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field floatLabel="never">
      <label for="question-title-field">Titel ihrer Frage: </label>
      <input
        matInput
        class="mat-form-field"
        type="text"
        id="question-title-field"
        name="question-title-field"
        formControlName="titleField"
      />
      <mat-placeholder class="placeholder">Titel ihrer Frage</mat-placeholder>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field floatLabel="never">
      <label for="question-text-area">Ihre Frage: </label>
      <textarea
        matInput
        class="mat-form-field"
        id="question-text-area"
        name="question-text-area"
        formControlName="questionTextArea">
      </textarea>
      <mat-placeholder class="placeholder">Ihre Frage</mat-placeholder>
    </mat-form-field>
  </div>

</div>
