<div [formGroup]="questionData">
  <div>
    <input
      class="mat-form-field"
      type="text"
      id="question-topics-field"
      name="question-topics-field"
      formControlName="topicsField"
      placeholder="Themen ihrer Frage"
    />
  </div>

  <div>
    <input
      class="mat-form-field"
      type="text"
      id="question-title-field"
      name="question-title-field"
      formControlName="titleField"
      placeholder="Titel ihrer Frage"
    />
  </div>

  <div>
      <textarea
        class="mat-form-field"
        id="question-text-area"
        name="question-text-area"
        formControlName="questionTextArea"
        placeholder="Ihre Frage"
      >
      </textarea>
  </div>

</div>
