<div [formGroup]="questionData">
  <div>
    <label for="question-topics-field">Themen ihrer Frage:</label>
    <input
      class="mdl-textfield__input"
      type="text"
      id="question-topics-field"
      name="question-topics-field"
      formControlName="topicsField"
    />
  </div>

  <div>
    <label for="question-title-field">Titel ihrer Frage: </label>
    <input
      class="mdl-textfield__input"
      type="text"
      id="question-title-field"
      name="question-title-field"
      formControlName="titleField"
    />
  </div>

  <div>
    <label for="question-text-area">Ihre Frage: </label>
    <textarea
      class="mdl-textfield__input"
      id="question-text-area"
      name="question-text-area"
      formControlName="questionTextArea">
      </textarea>
  </div>

</div>
